---
layout: default
---
<link rel="stylesheet" href="assets/css/style.css">
<div class="post">
  <div class="header-container">
    <header class="post-header" style="margin-bottom: 15px;">
      <h1 class="post-title">
          <span class="font-weight-bold">{{ site.first_name }} {{ site.middle_name }} {{ site.last_name }}</span>
      </h1>
      
    </header>
    <img src="{{ 'assets/img/name.svg' | relative_url }}" alt="Chinese Name" style="width: 160px; height: auto; margin-bottom: 15px;">

    
    <!-- NTU logo -->
    <!-- 
    <a href="https://www.ntu.edu.sg"><img src="{{ 'assets/img/ntu_icon_full.svg' | relative_url }}" alt="NTU" style="width: 210px; height: auto; margin-top: 10px; margin-left: 210px; display: block; margin-bottom: 10px; margin-right: 0;"></a>
     -->
    
</div>


  <article>
    {% if page.profile %}
    <div class="profile float-{%- if page.profile.align == 'left' -%}left{%- else -%}right{%- endif -%}">
      {%- if page.profile.image %}
        {%- assign profile_image_path = page.profile.image | prepend: 'assets/img/' -%}

        {% if page.profile.image_circular %}
          {%- assign profile_image_class = "img-fluid z-depth-1 rounded-circle" -%}
        {% else %}
          {%- assign profile_image_class = "img-fluid z-depth-1 rounded" -%}
        {% endif %}

        {% include figure.html path=profile_image_path class=profile_image_class max-width="100px" alt=page.profile.image -%}
      {% endif -%}
    </div>
    {%- endif %}

    <div class="clearfix">{{ content }}</div>

    <!-- News -->
    {% if page.announcements and page.announcements.enabled %}
      <h3>
        <span class="font-weight-bold">News</span>
      </h3>
      {% include news.liquid limit=true %}
    {% endif %}

    

    <!-- Latest Preprint -->
    {% if page.selected_papers %}
      <h3>
        <span class="font-weight-bold">Preprint</span>
      </h3>
      {% include preprint_papers.liquid %}
    {% endif %}

    <!-- Selected papers -->
    {% if page.selected_papers %}
      <h3>
        <span class="font-weight-bold">Selected Publications</span>
      </h3>
      {% include selected_papers.liquid %}
    {% endif %}


    {% if site.newsletter and site.newsletter.enabled and site.footer_fixed %}
      {% include newsletter.liquid center=true %}
    {% endif %}
  </article>
</div>

<!-- Cloudflare Web Analytics --><script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "5f5ba83117de4929b905aadb1473e152"}'></script><!-- End Cloudflare Web Analytics -->


<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-J351C2BZS5"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-J351C2BZS5');
</script>