---
layout: default
---

<link rel="stylesheet" href="assets/css/style.css">
<div class="post">
  <div class="header-container">
    <header class="post-header">
      <h1 class="post-title">
        {% if site.title == 'blank' %}
          <span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }}
          {{ site.last_name }}
        {% else %}
          <span class="font-weight-bold">{{ site.title }}</span>
        {% endif %}
      </h1>
      
    </header>
    <img src="{{ 'assets/img/name.png' | relative_url }}" alt="Chinese Name" style="width: 160px; height: auto;">
</div>


  <article>
    {% if page.profile %}
    <div class="profile float-{%- if page.profile.align == 'left' -%}left{%- else -%}right{%- endif -%}">
      {%- if page.profile.image %}
        {%- assign profile_image_path = page.profile.image | prepend: 'assets/img/' -%}

        {% if page.profile.image_circular %}
          {%- assign profile_image_class = "img-fluid z-depth-1 rounded-circle" -%}
        {% else %}
          {%- assign profile_image_class = "img-fluid z-depth-1 rounded" -%}
        {% endif %}

        {% include figure.html path=profile_image_path class=profile_image_class max-width="100px" alt=page.profile.image -%}
      {% endif -%}
    </div>
    {%- endif %}

    <div class="clearfix">{{ content }}</div>

    <!-- News -->
    {% if page.announcements and page.announcements.enabled %}
      <h2>
        News
      </h2>
      {% include news.liquid limit=true %}
    {% endif %}

    

    <!-- Latest Preprint -->
    {% if page.selected_papers %}
      <h2>
        Preprint
      </h2>
      {% include preprint_papers.liquid %}
    {% endif %}

    <!-- Selected papers -->
    {% if page.selected_papers %}
      <h2>
        Selected Publications
      </h2>
      {% include selected_papers.liquid %}
    {% endif %}


    {% if site.newsletter and site.newsletter.enabled and site.footer_fixed %}
      {% include newsletter.liquid center=true %}
    {% endif %}
  </article>
</div>
